<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <style>
            a {text-decoration: none; color: black;}
        </style>
    </head>
    <body>
		<form action="/save_config_alert" method="post">
			<h3>Alert Check / Control</h3>
			<ul>
			<li>Temperature Check : </li>
				Temperature Min : <input type="text" name="alert_temperature_min" value="<%= alert_temperature_min %>" /><br>
				Temperature Max : <input type="text" name="alert_temperature_max" value="<%= alert_temperature_max %>" /><br><br>
			<li>Light Check : </li>
				Light UV Max : <input type="text" name="alert_lightUV_max" value="<%= alert_lightUV_max %>" /><br>
				Light IR Max : <input type="text" name="alert_lightIR_max" value="<%= alert_lightIR_max %>" /><br><br>
			<li>eMail : </li>
				alert_email : <input type="text" size="60" name="alert_email" value="<%= alert_email %>" /><br><br>
				
			<li>Save Button</li>
				<input type="submit" value="Update"/><br>
			</ul>
		</form>
</br>
<a href="http://172.16.10.125:8080" onclick="http://172.16.10.125:8080" >Accueil - TamataSpiru</a> 
    </body>
</html>
